body {
  background-color: white;
}

.title {
  color: gray;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 20em;
  border-radius: 20px;
}

input[type='text'] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 30em;
  height: 15em;
  background-color: #f8ab2b;
  border-radius: 20px;
  margin-top: 30px;
}

#namelist {
  width: 22em;
  height: 9em;
  text-align: left;
  background-color: transparent;
  border: solid 0px;
  resize: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  resize: none;
  line-height: 18px;
  overflow-y: scroll;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2287a5;
}

.container {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 5px;
  width: 8em;
  height: 25px;
  margin-right: 2em;
  background-color: #27b6e0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

input {
  font-size: 15px;
  color: gray;
  border: solid gray 1.5px;
  border-radius: 5px;
}
